@{
    ViewBag.Title = "Home Page";
}

<link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />

@section Scripts {
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#table_td').DataTable({
                "info": true,
                "processing": true,
                "order": [[1, "desc"]],
                "bDestroy": true,
                "ajax": {
                    "url": "Home/loadData",
                    "type": "GET",
                    "datatype": "json",
                },
                "rowCallback": function (row, data, index) {
                },
                "columns": [
                    { "data": "userId", "autoWidth": true },
                    { "data": "id", "autoWidth": true },
                    { "data": "title", "autoWidth": true },
                    { "data": "completed", "autoWidth": true },
                    {
                        "data": "userId", "width": "50px", "render": function (data) {
                            return '<button type="button" id="' + data + '" class="btn btn-primary btnPosts"><i class="fa fa-eye"></i></button>'
                        }
                    }
                ]
            });

            $(document).on("click", ".btnPosts", function () {
                var id = $(this).attr("id");

                $('#table_posts').DataTable({
                    "info": true,
                    "processing": true,
                    "order": [[1, "desc"]],
                    "bDestroy": true,
                    "ajax": {
                        "url": "Home/loadPosts",
                        "type": "GET",
                        "datatype": "json",
                        "data": { id: id }
                    },
                    "rowCallback": function (row, data, index) {
                    },
                    "columns": [
                        { "data": "userId", "autoWidth": true },
                        { "data": "id", "autoWidth": true },
                        { "data": "title", "autoWidth": true },
                        { "data": "body", "autoWidth": true }
                    ]
                });
            });
        });
    </script>

    
    
}

<table id="table_td">
    <thead>
        <tr>
            <th>userId</th>
            <th>id</th>
            <th>title</th>
            <th>completed</th>
            <th></th>
        </tr>
    </thead>
</table>

<table id="table_posts">
    <thead>
        <tr>
            <th>userId</th>
            <th>id</th>
            <th>title</th>
            <th>body</th>
        </tr>
    </thead>
</table>



@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@